/* .bodyst{
    margin-top:0.7rem;
} */
.search>input{
    width: 90%;
    margin:0.2rem 0.2rem 0.3rem;
    height:0.45rem;
    outline: none;
    border:none;
    background: #f5f5f5;
    border-radius: 10rem;
    font-size: 0.2rem;
    color:#acacac;
    text-indent: 0.4rem;
}
.search>span>i{
    display: inline-block;
    width: 0.32rem;
    height: 0.32rem;
   margin-top:-0.1rem;
   margin-right:3rem;
}
.search>span>i>svg{
    display: inline-block;
    width: 100%;
    height:100%;
    color:#717171;
}
.bodyH{
    margin:0.7rem 0 1rem;
}