.tabBar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height:0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow: 0 -0.05rem 0.2rem #f0f0f0;
}
.tabBar>a{
    color:#b1b1b1;
    font-size: 0.18rem;
}
.tabBar>#third>i>img{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
   background: #fcffff;
}
.tabBar>a:nth-child(3){
    display: inline-block;
    width: 0.6rem;
    height:0.6rem;
   text-align: center;
   border-radius: 50%;
   box-shadow: 0 -0.05rem 0.2rem #f0f0f0;
   margin-top:-0.55rem;
}
.tabBar>a>i{
    font-size: 0.3rem;
}
.tabBar>.tabCor{
    color:#f79925;  
}
.tabBar>.tabCor>i {
    animation: ani 0.2s;
} 
/* 底部bar动画效果 */
@keyframes ani {
    0%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}